<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.olasharing.footstone.repository.mapper.AdminRoleMenuMapper">

    <sql id="BaseTableName">
        admin_role_menu
    </sql>

    <sql id="BaseColumnList">
        id, role_code, menu_code, gmt_modified, relation_state
    </sql>

    <resultMap id="BaseResultMap" type="com.olasharing.footstone.repository.domain.AdminRoleMenu">
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <result property="roleCode" column="role_code" jdbcType="VARCHAR"/>
        <result property="menuCode" column="menu_code" jdbcType="VARCHAR"/>
        <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
        <result property="relationState" column="relation_state" jdbcType="INTEGER"/>
    </resultMap>

    <select id="selectListByRoleCodes" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumnList"/>
        FROM
        <include refid="BaseTableName"/>
        WHERE relation_state = 0 AND role_code IN
        <foreach collection="roleCodeList" item="roleCode" open="(" close=")" separator=",">
            #{roleCode, jdbcType=VARCHAR}
        </foreach>
    </select>
</mapper>
